{% extends "base.html" %}
{% block title %} Snackchat {% endblock %}
<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
 
<form action="/login" method="POST">
  <div class="login">
    <div class="login-screen">
      <div class="app-title">
			<h1 style="color:white">Snackchat</h1>
      </div>
      <div class="login-form" style="text-align:center;">
				<div class="control-group">
					<input id="login" type="text" class="login-field" value="" placeholder="username" name="username">
					<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
					<input id="pwd" type="password" class="login-field" value="" placeholder="password" name="password">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 
    		<input type="submit" value="Log in" class="btn waves-effect waves-light" onclick="check()">
				<input type="submit" value="Sign up here" class="btn waves-effect waves-light" onclick="location.href='/register'">
          <br>
      </div>
      <h5 id="err" style="color:red;">{{get_flashed_messages()[0]}}</h5>
    </div>
  </div>
</form>

<script src="../static/js/login.js">
function check()
{
	if (check_valid("login")&&check_valid("pwd")) {
		
	}
}
</script> 
{% endblock %}
