{% extends "base.html" %}
{% block title %} Snackchat {% endblock %}
{% block body %}

<h2>Snacks</h2>

<form method="POST" action="/snc" class="col s12">
  <div class="row review-form">
    <div class="input-field col s12 hide">
      <input placeholder="True" id="search" name="search" type="text" class="validate">
      <label>Search?</label>
    </div>
    <div class="input-field col s4">
      <input placeholder="Name" id="search-sname" name="sname" type="text" class="validate">
      <label>Search name</label>
    </div>
    <div class="input-field col s4">
      <input placeholder="Type" id="search-type" name="type" type="text" class="validate">
      <label>Search type</label>
    </div>
    <div class="input-field col s4">
      <input placeholder="Manufacturer" id="search-manu" name="manu" type="text" class="validate">
      <label>Search manufacturer</label>
    </div>
    <button class="btn waves-effect waves-light red lighten-2 btn-small" type="submit" name="search">Search Now!</button>
  </div>
</form>
<div>
	{% for bid, s_name, size, manufacturer, type, cal, fat, carb, prot in snacks %}  
  <div class="card">
    <div class="card-content">
			<a class="waves-effect waves-light modal-trigger see-review-trigger" href="#see-review-{{bid}}">{{s_name}}</a>
			<p>{{manufacturer}}</p>
      <!-- Modal trigger for writing review -->
      <a class="waves-effect waves-light btn-small modal-trigger write-review-trigger" href="#write-review-{{bid}}">post a comment</a>
      <!-- Community Rating -->
      <p class="rating">Grade:
      {% for cbid, grade in grades %}
        {% if bid == cbid %}
        {{ grade }}
        {% endif %}
      {% endfor %}
      </p>
			<!--Model: See Review -->
			<div id="see-review-{{bid}}" class="modal">
				<div class="modal-content">
					<h3>{{s_name}}</h3>
						<p>{{type}}</p>
						{% for conbid, iname in contain %}
							{%if bid == conbid%}
                                                		<p style="font-size:300%;color:red;">Caution! {{iname}} contained!<p>
							{% endif %}
						{% endfor %}

					<br />
					<br />
						<h4>Nutritions:</h4>
						<table style="width:40%">
  						<tr>
    						<th>Type</th>
    						<th>Per serving</th> 
 							</tr>
  						<tr>
    						<td>Calories</td>
    						<td>{{cal}}</td>
  						</tr>
  						<tr>
    						<td>Fat (g)</td>
    						<td>{{fat}}</td>
  						</tr>
  						<tr>
    						<td>Carbon (g)</td>
    						<td>{{carb}}</td>
  						</tr>
							<tr>
								<td>Protein (g)</td>
								<td>{{prot}}</td>
						</table>
					<br />
					<br />
					<h4>Sold at:</h4>
						<table style="width:100%">
						<tr>
						<th>Price ($)</th>
						<th>Market: Name||Website | Location Open(AM) Close(PM))</th>	
						</tr>
						{% for sbid, price, market in prices %}
						    {% if bid == sbid %}
						    <tr>
						    <td>{{price}}</td>
						    <td>{{market}}</td>
						    </tr>
						    {% endif %}
						  {% endfor %}
						  </table>
					<br />
					<br />
					
					<h4>What do customers say:</h4>
					{% for cbid, user_name, grade, comm, dat, com_id in comments %}
						{% if bid == cbid %}
						<div class="card">
						<p style="font-size:120%;color:blue;">{{user_name}}<p>
						<p style="font-style:oblique;">{{comm}}</p>
						<p>Grade: {{grade}}</p>
						</p>{{dat}}</p>
						{% for cnt, cid in likes %}
						{% if cid == com_id %}
						<p>{{cnt}} people like this comment</p>
						{% endif %}
						{% endfor %}
						<form text-align="left" method="POST" action="/like" class="col s12">
							<input type="hidden" value="{{com_id}}" name="cid">
        			<input text-align="left" type="submit" value="like!" class="btn waves-effect waves-light" name="like">
						</form>
						</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
      <!-- Model: Write Review -->
      <div id="write-review-{{bid}}" class="modal">
        <div class="modal-content">
          <h4>Write a Review for: {{ s_name }})</h4>
          <form method="POST" action="/post_comment" class="col s12">
            <div class="row review-form">
              <!-- Review -->
              <div class="input-field col s12 hide">
                <input value="{{ bid }}" id="bid-{{bid}}" name="bid" type="text" class="validate">
                <label for="bid-{{bid}}">bid</label>
              </div>
              <!-- Review: rating -->
              {% set vars = {'rate': 0, 'lastdate': None} %}
              {% for ubid, ugrade, udes, udate in user_comments %}
                {% if ubid == bid %}
                  {% if vars.update({'rate': ugrade, 'lastdate': udate}) %}{% endif %}
                {% endif %}
              {% endfor %}
              {% if vars.lastdate %}<p>Last comment: {{ vars.lastdate }}{% endif %}
              <div class="input-field col s12">
                <select name="grades">
                  <option value="" disabled selected>Choose your rating</option>
                  <option value="1" {% if vars.rate == 1 %}selected="selected"{% endif %}>1</option>
                  <option value="2" {% if vars.rate == 2 %}selected="selected"{% endif %}>2</option>
                  <option value="3" {% if vars.rate == 3 %}selected="selected"{% endif %}>3</option>
                  <option value="4" {% if vars.rate == 4 %}selected="selected"{% endif %}>4</option>
                  <option value="5" {% if vars.rate == 5 %}selected="selected"{% endif %}>5</option>
                </select>
                <label>Grade</label>
              </div>
              <!-- comment: text -->
              <div class="input-field col s12">
                {% set vars = {'textPlaceholder': False} %}
                {% for ubid, ugrade, udes, udate in user_comments %}
                  {% if ubid == bid %}
                    {% if vars.update({'textPlaceholder': True, 'text': mText}) %}{% endif %}
                  {% endif %}
                {% endfor %}

                <textarea placeholder="{% if vars.textPlaceholder %}{{ vars.text }}{% endif %}" id="textarea-{{bid}}" name="text" class="materialize-textarea"></textarea>
                <label for="textarea-{{bid}}">Post your comment!</label>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
              <button class="btn waves-effect waves-light" type="submit" name="post_comment">Submit comment</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>  
{% endblock %}

