{% extends "base.html" %}
{% block title%} Settings {% endblock %}
{% block body %}
<div class="mdl-modal row z-depth-1">
	<h2> Settings </h2>

{% for uid, name, locate, email, phone in us %}
	<h4>{{name}}<h4>
{% for iname, id in noteat %}
<div class=" deep-purple lighten-3 white-text">
	<table class="highlight reponsive-table">
		<h4>{{name}}<h4>
		<thead>
			<tr>
				<th>Location</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>{{locate}}</td>
				<td>{{email}}</td>
				<td>{{phone}}</td>
			</tr>
		</tbody>
	</table>
</div>
{% endfor %}
{% endfor %}
{% endblock %}
