{% extends "base.html" %}
{% block title%} Settings {% endblock %}
{% block body %}
	<h2 align="left"> Settings </h2>

{% for uid, name, locate, email, phone in us %}
	<h4>{{name}}</h4>
	<h5>{{email}}</h5>
<form action="" class="col s12" method="post">
	<table class="">
			<tr>
				<td>Location</td>
				<td>
					<div class="input-field col s12">
      			<input type="text" value="{{request.form.locate}}" name="locate" id="locate">
        		<label for="username">{{locate}}</label>
      		</div>
				</td>
			</tr>
			<tr>
				<td>Phone</td>
				<td>
          <div class="input-field col s12">
            <input type="text" value="{{request.form.phone}}" name="phone" id="phone">
            <label for="phone">{{phone}}</label>
          </div>
				</td>
			</tr>
	</table>
	<input class="btn waves-effect waves-light" type="submit" value="Save changes">
</form>
{% endfor %}
{% endblock %}
